:root {
   // colors
   --color-dark-cyan: 158, 36%, 37%;
   --color-deep-aqua: 157, 43%, 18%;
   --color-cream: 30, 38%, 92%;
   --color-very-dark-blue: 212, 21%, 14%;
   --color-dark-grayish-blue: 228, 12%, 48%;
   --color-white: 0, 0%, 100%;
}